<div class="header-logo-div">
    <h1>flight booker</h1>
</div>

<div class="main-div">

    <div class="left-div"></div>

    <div class="mid-div">
        
        
        <%= render "flights_search" %>
    
    </div>

    <div class="right-div"></div>

</div>




