* {
    padding: 0;
    margin: 0;
}

.header-logo-div {
    padding: .2rem .5rem;
    background-color: rgb(104, 104, 218);
    
}

.header-logo {
    text-decoration: none;
    color: black;

    transition: all 0.4s ease 0s;
}

.header-logo:hover {
    color: white;
    
}

.main-div {
    padding: .5rem .2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.left-div {
    width: 24%;
}

.mid-div {
    width: 48%;
    position: relative;
    align-items: center;

    display: flex;
    flex-direction: column;
    padding: .5rem;
   
    
}

.flight-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.search-div {
    border: solid 1px rgb(104, 104, 218);
    padding: .5rem;
    border-radius: 6px;

    width: 42%;
    margin: auto;
    position: relative;
    text-align: center;
  
    
}

.right-div {
    width: 24%;
}

.drop-down-box {
    background-color: white;

    padding: .2rem .5rem;
    transition: all 0.3s ease 0s;
    border-radius: 6px;
    border: solid 1px rgb(104, 104, 218);
}

.drop-down-box:hover {
    background-color: lightgray;
    border-radius: 6px;
    border: solid 1px lightgray;
    color: rgb(104, 104, 218);
}

.search-btn {
    padding: .2rem .5rem;
    
    background-color: white;
    transition: all 0.3s ease 0s;
    border: solid 1px rgb(104, 104, 218);
    border-radius: 6px;
  

}

.search-btn:hover {
    border: solid 1px lightgray;
    background-color: lightgray;
    color: rgb(104, 104, 218);

}

.returned-flights-div {
    border: solid 1px rgb(104, 104, 218);
    padding: .5rem;
    border-radius: 6px;

    width: 42%;
    margin: auto;
    position: relative;
    text-align: center;
    margin-top: 2%;

}

.no-flights-message {
    color: red;
}