* {
    padding: 0;
    margin: 0;
}

.header-logo-div {
    padding: .2rem .5rem;
    background-color: rgb(104, 104, 218);
}

.main-div {
    padding: .5rem .2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.left-div {
    width: 24%;
}

.mid-div {
    width: 48%;
    text-align: center;
}

.right-div {
    width: 24%;
}